extends ../includes/sidebar

block title
  | WedMaster - Add Venue

block body
  +breadcrumb('Home','Admin','Venues', 'Add Venue')
  +navigation()

  +heading('Add Venue')
  +subheading('Add a new venue')

  
  form(action="/admin/venue/new", method="post" class="") 
    +formInput('Venue Name', 'name')
    +formInput('Venue Address', 'address')
    +formInput('Picture URL', 'pictureUrl')
    +formInput('Venue Area', 'area')
    +formInput('Venue Charges', 'charges')
    button(type="submit" class="btn btn-primary mt-4") Add Venue 
