extends ../includes/sidebar

mixin adminCard(text, link)
  a(href=link class="btn w-full")
    h2=text

block title
  | WedMaster - Admin Dashboard

block body
  +breadcrumb('Home','Admin')
  +navigation()

  +heading('Admin Dashboard')
  +subheading('...')

  div(class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4")
    +adminCard('View Venue','admin/venue/view')
    +adminCard('Add Venue','admin/venue/new')
    +adminCard('Edit Venue','admin/venue/edit')
    //- +adminCard('Delete Venue','admin/venue/delete')


