mixin heading(text)
  h1(class="mt-6 text-5xl font-bold")=text

mixin subheading(text)
  h2(class="mb-6")=text

mixin breadcrumb(...links)
  .breadcrumbs.text-sm
    ul
      each link in links
        li
          a(href=`/${link}`)=link

mixin navigation()
  a.btn.btn-sm Go back