extends includes/sidebar

block body
  +breadcrumb('Home','Venues')
  +navigation()

  +heading('Venues')
  +subheading('Browser all venues.')

  div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4")
    +card
    +card
    +card
    +card
    +card
